/* Normal desktop :1400px. */
@media (min-width: 1400px) and (max-width: 1600px) {

.header-button a {
    padding: 13px 20px;
}

.header-menu ul li {
    margin-left: 22px;
}

.hero-thumb {
    left: -100px;
}

.hero-thumb-2 {
    right: -128px;
}

.about-shape {
    top: -148px;
}

.choose-us-area {
    margin: 0 11px 0;
}

.portfolio-content a {
    font-size: 22px;
    margin-top: 8px;
}

.pricing-shape {
    right: 82px;
}

.footer-shape-one {
    left: -58px;
}

/*home Two All Responsive*/
.header-area.style-two {
    padding-right: 53px;
}



.header-area.style-two .header-menu ul li {
    margin-left: 19px;
}

.style-two .header-menu {
    margin-left: 20px;
}

.style-two .header-logo {
    left: -17px;
}

.hero-area.style-two {
    margin: 0 72px 0;
}

.style-two .hero-social-icon {
    left: -57px;
}

.service-area.style-two {
    margin: 0 20px 0;
}

.portfolio-area.style-two .port-content {
    width: 90%;
    gap: 14px;
}

.portfolio-area.style-two .port-title a {
    font-size: 17px;
}

.teasti-area.style-two .teasti-shape-3 {
    left: 0%;
}
.team-area {
    margin: 0 22px 0;
}

.call-do-action-area {
    margin: 0 9px 0;
}

.portfolio-area.style-two.inner-style {
    padding: 120px 60px 80px;
}





}


/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1399px) {

.header-area {
    padding: 0 26px 0;
}

.header-right {
    gap: 6px;
}

.header-button a {
    padding: 11px 26px;
    font-size: 16px;
}

.header-menu ul li {
    margin-left: 17px;
}

.hero-thumb {
    left: -155px;
}

.hero-thumb-2 {
    right: -222px;
}

.featurea-area .section-title {
    left: 23px;
}

.section-title h1 {
    font-size: 33px;
    line-height: 30px;
}

.about-shape {
    top: -148px;
}

.about-thumb {
    left: -125px;
}

.about-content h4 {
    font-size: 17px;
    line-height: 28px;
}

.service-area {
    margin: 0 0 0;
}

.choose-us-area {
    margin: 0 0 0;
}

.choose-us-list-box ul li {
    font-size: 19px;
}

.portfolio-area {
    padding: 388px 0 120px;
}

.portfolio-content a {
    font-size: 20px;
    margin-top: 8px;
}

.pricing-shape-2 {
    left: 81px;
    top: 0%;
}

.pricing-shape {
    right: 82px;
}

.blog-content a {
    font-size: 17px;
    line-height: 27px;
}

.blog-date {
    top: 43%;
    left: 14px;
}

.subscribe-content h4 {
    font-size: 34px;
    line-height: 39px;
}

.footer-shape-one {
    left: -58px;
}

.footar-working-list ul li {
    padding-right: 21px;
}


/*Home Two All Responsive*/
.header-contact-button {
    display: none;
}

.header-area.style-two {
    padding-right: 67px;
}
.style-two .header-menu {
    margin-left: 0;
}
.style-two .header-menu ul li {
    margin-left: 8px;
}

.header-area.style-two:before {
    width: 7.2%;
}

.hero-area.style-two {
    margin: 0 85px 0;
}

.style-two .hero-content h1 {
    font-size: 45px;
    line-height: 48px;
}

.style-two .about-thumb {
    left: -203px;
}

.service-area.style-two .massage-time {
    bottom: 39%;
}

.choose-us-area.style-two .choose-us-thumb {
    left: -125px;
}

.portfolio-area.style-two {
    padding: 120px 0 110px;
}

.portfolio-area.style-two .port-content {
    width: 98%;
    gap: 20px;
}

.portfolio-area.style-two .port-title a {
    font-size: 17px;
}

.teasti-area.style-two .teasti-shape-3 {
    top: 1%;
    left: -1%;
}

.team-area {
    margin: 0 16px 0;
}

.team-thumb img {
    width: 100%;
}

/*inner Pages Css Responsive*/

.service-details-area .service-thumb img {
    width: 100%;
}

.single-service-details-box {
    padding: 22px 28px 26px;
}

.service-details-area .project-button.style-two {
    margin-top: 35px;
}

.blog-related-box {
    padding: 30px 21px 31px 23px;
}

.blog-related-box.style-two {
    padding: 30px 19px 31px 21px;
}

.recent-widget-content a {
    font-size: 13px;
    line-height: 26px;
}

.portfolio-area.style-two.inner-style {
    padding: 120px 0 80px;
}

.inner-style .row.add-backgroun {
    padding: 82px 18px 69px;
}

.blog-related-box {
    padding: 30px 21px 31px 23px;
}

.blog-related-box.style-two {
    padding: 30px 19px 31px 21px;
}

.recent-widget-content a {
    font-size: 13px;
    line-height: 26px;
}

.widget-catefories-tags a {
    margin: 6px 1px;
}

.blog-details-title a {
    font-size: 29px;
}







}




/* Normal desktop :1300px. */
@media (min-width: 1300px) and (max-width: 1399px) {

.header-menu ul li {
    margin-left: 18px;
}

.header-area.style-two {
    padding-right: 70px;
}

.header-button a {
    padding: 11px 27px;
    font-size: 16px;
}

.style-two .header-menu ul li {
    margin-left: 17px;
}








}



/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1199px) {

.top-headar-area {
    padding: 11px 6px 11px;
}

.top-info ul li {
    margin-right: 27px;
}

.top-info ul li:before {
    right: -16px;
}

.header-area {
    padding: 0 4px 0;
}

.header-right {
    gap: 6px;
}

.header-contact-button h4 {
    display: none;
}

.header-menu {
    left: 40px;
    position: relative;
}

.header-button a {
    padding: 11px 14px;
    font-size: 14px;
}

.header-menu ul li {
    margin-left: 11px;
}

.hero-thumb {
    left: -245px;
}

.hero-thumb-2 {
    display: none;
}

.hero-content h1 {
    font-size: 60px;
    line-height: 58px;
}

.hero-shape {
    top: 11px;
    right: -207px;
}

.hero-content p {
    width: 88%;
}

.featurea-area .section-title {
    left: 0;
}

.single-feature-box {
    padding: 40px 5px 18px;
}

.feature-content h4 {
    font-size: 20px;
    margin: 22px 0 10px;
}

.section-title h4 {
    margin: 0 0 4px 51px;
}

.section-title h1 {
    font-size: 25px;
    line-height: 26px;
}

.about-shape {
    top: -148px;
}

.about-thumb {
    left: -204px;
}

.section-title p {
    width: 95%;
}

.about-content h4 {
    font-size: 14px;
    line-height: 24px;
}

.about-box-icon {
    margin-right: 10px;
    margin-top: 2px;
}

.service-area {
    margin: 0 0 0;
}

.choose-us-area {
    margin: 0 0 0;
}

.choose-us-list-box ul li {
    font-size: 17px;
}

.portfolio-area {
    padding: 388px 0 120px;
}

.portfolio-content a {
    font-size: 15px;
    margin-top: 8px;
}

.single-pricing-img-box {
    padding: 47px 19px 306px;
}

.single-pricing-box {
    padding: 28px 23px 39px;
}

.pricing-shape-2 {
    left: 81px;
    top: 0%;
}

.pricing-shape {
    right: 82px;
}

.blog-content a {
    font-size: 14px;
    line-height: 23px;
}

.blog-date {
    top: 37%;
    left: 14px;
}

.subscribe-content h4 {
    font-size: 26px;
    line-height: 30px;
}

.footer-shape-one {
    left: -58px;
}

.footar-working-list ul li {
    padding-right: 0;
    font-size: 14px;
}

.footer-shape-two {
    right: -117px;
}

/*Home Two All Responsive*/

.header-area.style-two {
    padding-right: 69px;
}

.style-two .header-menu {
    margin-left: 0;
    text-align: center;
}

.style-two .header-menu ul li {
    margin-left: 12px;
}

.header-area.style-two:before {
    width: 8.7%;
}

.style-two .header-logo {
    left: -9px;
}
.style-two .header-right {
    left: -53px;
}
.hero-area.style-two {
    margin: 0 85px 0;
}

.style-two .hero-content h1 {
    font-size: 37px;
    line-height: 35px;
}

.style-two .about-thumb {
    left: -283px;
}

.service-area.style-two .massage-time {
    bottom: 33%;
}

.choose-us-area.style-two .choose-us-thumb {
    left: -205px;
}

.choose-us-area.style-two .choose-us-list-box ul li {
    font-size: 15px;
    line-height: 40px;
}

.choose-us-area.style-two .choose-us-conter-content p {
    font-size: 14px;
}

.portfolio-area.style-two {
    padding: 120px 0 110px;
}

.portfolio-area.style-two .port-content {
    width: 98%;
    gap: 20px;
}

.portfolio-area.style-two .port-title a {
    font-size: 17px;
}

.teasti-area.style-two .teasti-shape-3 {
    top: 1%;
    left: -1%;
}

.teasti-area.style-two .teasti-shape-4 {
    right: -8%;
}

.teasti-area.style-two .teasti-shape {
    bottom: 12%;
    left: 6%;
}

.teasti-area.style-two .teasti-shape-2 {
    bottom: 76%;
    right: 7%;
}

.team-area {
    margin: 0 16px 0;
}

.team-thumb img {
    width: 100%;
}

.team-area .team-content h4 {
    font-size: 18px;
}

.call-do-action-area {
    margin: 0 0px 0;
}

.call-do-content h4 {
    font-size: 32px;
    line-height: 39px;
}

/*inner Pages Responsive Css*/
.inner-style .header-menu {
    left: 0;
    position: relative;
}

.inner-style .header-menu ul li {
    margin-left: 10px;
}

.service-details-area .service-thumb img {
    width: 100%;
}

.single-service-details-box {
    padding: 17px 18px 17px;
}

.service-details-area .project-button.style-two {
    margin-top: 35px;
}

.serive-details-box-content h3 {
    font-size: 15px;
}

.service-dtl-content {
    padding: 26px 21px 34px;
}

.blog-related-box {
    padding: 30px 6px 31px 22px;
}

.blog-related-box.style-two {
    padding: 30px 16px 31px 10px;
}

.widget-categories-box {
    padding: 21px 20px 15px;
}

.recent-widget-content a {
    font-size: 12px;
    line-height: 20px;
    display: inline-block;
}

.inner-style .row.add-backgroun {
    padding: 98px 24px 62px;
}

.service-details-title h4 {
    font-size: 31px;
}

.service-dtl-content h4 {
    font-size: 25px;
}

.portfolio-area.style-two.inner-style {
    padding: 120px 0 80px;
}

.portfolio-area.style-two.inner-style .port-content {
    width: 100%;
}

.portfolio-area.style-two.inner-style .port-icon {
    padding: 29px 26px 29px;
}

.faqs-thumb img {
    width: 100%;
}

.faq-singular .faq-question {
    font-size: 16px;
}

.inner-style .row.add-backgroun {
    padding: 82px 18px 69px;
}

.inner-style .contact-title p {
    font-size: 16px;
}

.blog-details-title a {
    font-size: 25px;
}

.blog-details-desc p {
    width: 100%;
}

.blog-related-box {
    padding: 30px 6px 31px 22px;
}

.blog-related-box.style-two {
    padding: 30px 16px 31px 10px;
}

.widget-categories-box {
    padding: 21px 20px 15px;
}

.recent-widget-content a {
    font-size: 12px;
    line-height: 20px;
    display: inline-block;
}


.style-two .blog-content {
    padding: 28px 0px 25px;
}

.style-two .blog-content a {
    font-size: 20px;
    line-height: 32px;
}






}


/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {

.top-headar-area {
    display: none;
}

.header-area {
    display: none;
}

.hero-area {
    height: 720px;
    padding-top: 41px;
    padding-bottom: 0;
}

.hero-thumb {
    display: none;
}

.hero-thumb-2 {
    right: -84px;
}

.hero-content p {
    width: 68%;
}

.featurea-area .section-title {
    left: 0;
}

.section-title h4 {
    margin: 0 0 2px 50px;
}

.single-feature-box {
    padding: 40px 28px 18px;
}

.about-thumb {
    left: 0;
}

.section-title p {
    width: 80%;
}

.service-area {
    margin: 0 0 0;
}

.section-title h1 {
    font-size: 38px;
    line-height: 40px;
}

.choose-us-area {
    margin: 0;
}

.choose-us-thumb {
    left: 0;
    padding-top: 45px;
}

.portfolio-content a {
    font-size: 24px;
}

.pricing-shape-2 {
    display: none;
}

.pricing-shape {
    display: none;
}

.single-pricing-box {
    padding: 28px 30px 39px;
}

.video-area {
    padding: 162px 0 162px;
    margin: 0 31px 0;
}

.teasti-shape {
    display: none;
}

.teasti-shape-2 {
    display: none;
}

.blog-area .project-button {
    text-align: left;
    margin-bottom: 40px;
}

.blog-area .section-title {
    margin-bottom: 34px;
}

.blog-content a {
    font-size: 16px;
    line-height: 24px;
}

.blog-date {
    top: 41%;
}

.subscribe-form {
    text-align: left;
    margin-top: 38px;
}

.footer-shape-one {
    left: -66px;
}

.footer-shape-two {
    right: -74px;
}

.footar-working-list ul li {
    padding-right: 4px;
}

.footar-content {
    margin-top: 25px;
}

.footar-area .col-lg-2.col-md-6:nth-child(2) .footar-content{
    margin-top: 0 !important;
}

.footar-area .row.add-bg {
    padding: 21px 3px 25px;
}


/*Home Two All Responsive Css*/

.hero-wallpaper .hero-team-expt-content h4 {
    font-size: 24px;
}

.hero-area.style-two {
    margin: 0 50px 0;;
}

.hero-single-box {
    gap: 10px;
}

.style-two .hero-social-icon {
    left: -46px;
}

.hero-wallpaper .hero-flower-shape {
    left: 26%;
}

.style-two .hero-shape2 {
    top: 67px;
}

.style-two .hero-content h1 {
    font-size: 30px;
    line-height: 32px;
}

.style-two .hero-content p {
    width: 52%;
}

.style-two .about-thumb {
    left: 0;
    margin-bottom: 32px;
}

.featurea-area.style-two .feature-shape {
    display: none;
}

.featurea-area.style-two .feature-thumb {
    margin-top: 30px;
    padding-bottom: 25px;
}

.service-area.style-two .massage-time {
    bottom: 35%;
}

.choose-us-area.style-two .choose-us-thumb {
    position: relative;
    left: 0;
    top: -44px;
}

.teasti-area.style-two .teasti-shape {
    display: none;
}

.teasti-area.style-two .teasti-shape-2 {
    display: none;
}

.teasti-area.style-two .teasti-shape-3 {
    display: none;
}

.teasti-area.style-two .teasti-shape-4 {
    display: none;
}

.teasti-area.style-two .teasti-content p {
    font-size: 17px;
    line-height: 31px;
    width: 88%;
}

.teasti-area.style-two .owl-dots {
    left: 21%;
}

.team-area {
    margin: 0 0 0;
}

.team-thumb img {
    width: 100%;
}

.call-do-action-area {
    background-position: center left;
    margin: 0 0 0;
}

.call-do-sahpe {
    left: 68%;
}


.sticky {
    position: absolute !important;
}


/*inner Responsive All Css*/

.service-details-area .row.add-margin {
    margin-top: 71px;
}

.service-details-title h6 {
    margin-bottom: 14px;
}

.service-details-title h4 {
    font-size: 30px;
}

.service-details-title p {
    width: 85%;
}

.service-details-thumb img {
    width: 100%;
    margin-top: 18px;
}

.service-dtl-content {
    padding: 26px 20px 34px;
}


.port-details-content h1 {
    font-size: 34px;
}

.port-details-content p {
    width: 100%;
}

.single-port-info-box {
    margin-top: 21px;
}


.portfolio-area.style-two.inner-style {
    padding: 120px 0 80px;
}

.portfolio-area.style-two.inner-style .port-content {
    width: 99%;
    gap: 14px;
}

.portfolio-area.style-two.inner-style .port-title a {
    font-size: 16px;
}

.portfolio-area.style-two.inner-style .port-title h4 {
    margin-bottom: 4px;
}

.faqs-area {
    padding: 118px 0 99px;
}

.faqs-thumb img {
    width: 100%;
    padding-bottom: 34px;
}

.faq-singular .faq-question {
    font-size: 16px;
}

.inner-style .row.add-backgroun {
    padding: 98px 36px 101px;
}

.blog-details-area {
    padding: 118px 0 86px;
}

.blog-details-title a {
    font-size: 27px;
}

.blog-details-desc p {
    width: 98%;
}

.blog-details-submi-button button {
    margin-bottom: 35px;
}

.blog-related-box {
    padding: 30px 21px 31px 29px;
}

.blog-related-box.style-two {
    padding: 30px 33px 31px 21px;
}

.style-two .blog-content a {
    font-size: 18px;
    line-height: 28px;
}






}



/* Tablet desktop :575px. */
@media (min-width: 575px) and (max-width: 767px) {


.top-headar-area {
    display: none;
}

.header-area {
    display: none;
}

.hero-area {
    height: 685px;
    padding-top: 0;
    padding-bottom: 0;
}

.hero-thumb {
    display: none;
}

.hero-thumb-2 {
    display: none;
}

.hero-content p {
    width: 86%;
}

.hero-content h1 {
    font-size: 74px;
}

.featurea-area .section-title {
    left: 0;
    margin-bottom: 35px;
}

.section-title h4 {
    margin: 0 0 2px 50px;
}

.single-feature-box {
    padding: 40px 28px 18px;
}

.about-thumb {
    left: 0;
}
.about-thumb img {
    width: 100%;
}
.about-content h4 {
    font-size: 17px;
    line-height: 32px;
}
.section-title p {
    width: 80%;
}

.service-area {
    margin: 0 0 0;
}

.section-title h1 {
    font-size: 28px;
    line-height: 30px;
}

.choose-us-thumb img {
    width: 100%;
}

.choose-us-area {
    margin: 0;
}

.choose-us-thumb {
    left: 0;
    padding-top: 45px;
}

.portfolio-area {
    padding: 388px 28px 100px;
}

.portfolio_nav {
    padding: 15px 7px;
}

.portfolio_menu ul li {
    margin-right: -3px;
    padding: 7px 19px;
}

.portfolio-content a {
    font-size: 24px;
}

.pricing-shape-2 {
    display: none;
}

.pricing-shape {
    display: none;
}

.single-pricing-box {
    padding: 28px 30px 39px;
}

.video-area {
    padding: 162px 0 162px;
    margin: 0 31px 0;
}

.teasti-shape {
    display: none;
}

.teasti-shape-2 {
    display: none;
}

.blog-area .project-button {
    text-align: left;
    margin-bottom: 40px;
}

.blog-area .section-title {
    margin-bottom: 34px;
}

.blog-content a {
    font-size: 16px;
    line-height: 24px;
}

.blog-date {
    top: 59%;
}

.subscribe-area .row.add-bg {
    padding: 70px 10px 80px;
}

.subscribe-form {
    text-align: left;
    margin-top: 38px;
}

.footer-shape-one {
    display: none;
}

.footer-shape-two {
    right: -74px;
}

p.footer-desc {
    width: 68%;
}

.footar-working-list ul li {
    padding-right: 93px;
}

.footar-content {
    margin-top: 25px;
}

.footar-area .row.add-bg {
    padding: 21px 3px 25px;
}

.footer-bottom-content ul {
    text-align: left;
    margin-top: 8px;
}

.footer-bottom-content ul li a:nth-child(1) {
    margin-right: 16px;
    margin-left: 0;
}

/*Home Two All Responsive Css*/

.hero-wallpaper {
    height: 1062px;
}

.hero-wallpaper .hero-team-expt-content h4 {
    font-size: 24px;
}

.hero-area.style-two {
    margin: 0 0 0;
    background-position: center left;
    height: 660px;
    padding-top: 53px;
}

.hero-wallpaper .hero-flower-shape {
    left: 16%;
}

.style-two .hero-video {
    display: none;
}

.hero-single-box {
    gap: 10px;
}
.style-two .hero-shape {
    display: none;
}
.style-two .hero-social-icon {
    display: none;
}

.style-two .line:before {
    width: 70%;
}

.hero-wallpaper .hero-team-expt {
    margin-top: 42px;
    float: left;
}

.style-two .hero-shape2 {
    display: none;
}

.style-two .hero-content h1 {
    font-size: 35px;
    line-height: 38px;
}

.style-two .hero-content p {
    width: 74%;
}

.style-two .about-thumb {
    left: 0;
    margin-bottom: 32px;
}

.style-two .about-thumb img {
    width: 100%;
}

.featurea-area.style-two .feature-shape {
    display: none;
}

.featurea-area.style-two .single-feature-box {
    padding: 40px 59px 18px;
}

.featurea-area.style-two .feature-thumb {
    margin-top: 30px;
    padding-bottom: 25px;
}

.featurea-area.style-two .feature-right {
    left: 0;
}

.featurea-area.style-two .feature-thumb img {
    width: 100%;
}

.service-area.style-two .massage-time {
    bottom: 50%;
}

.service-area.style-two .service-box-content {
    padding: 32px 66px 70px;
}

.choose-us-area.style-two .choose-us-thumb {
    position: relative;
    left: 0;
    top: -44px;
}

.portfolio-area.style-two .port-content {
    width: 96%;
}

.teasti-area.style-two .teasti-shape {
    display: none;
}

.teasti-area.style-two .teasti-shape-2 {
    display: none;
}

.teasti-area.style-two .teasti-shape-3 {
    display: none;
}

.teasti-area.style-two .teasti-shape-4 {
    display: none;
}

.teasti-area.style-two .teasti-content p {
    font-size: 17px;
    line-height: 31px;
    width: 95%;
}

.teasti-area.style-two .owl-dots {
    left: 16%;
}

.team-area .single-team-box {
    border-radius: 301px 324px 0 0;
}

.team-area {
    margin: 0 0 0;
}

.team-thumb img {
    width: 100%;
}

.call-do-action-area {
    background-position: center left;
    margin: 0 0 0;
}

.call-do-sahpe {
    left: 68%;
}

.call-do-content h4 {
    font-size: 30px;
    line-height: 35px;
}

.sticky {
    position: absolute !important;
}

/*inner Responsive All Css*/

.service-details-area .row.add-margin {
    margin-top: 71px;
}

.service-details-area .row.add-bg {
    padding: 63px 22px 75px;
}

.service-details-title h6 {
    margin-bottom: 14px;
}

.service-details-title h4 {
    font-size: 30px;
}

.service-details-title p {
    width: 85%;
}

.service-details-thumb img {
    width: 100%;
    margin-top: 18px;
}

.service-dtl-content {
    padding: 26px 33px 34px;
}

.port-details-content h1 {
    font-size: 34px;
}

.port-details-content p {
    width: 100%;
}

.single-port-info-box {
    margin-top: 21px;
}


.portfolio-area.style-two.inner-style {
    padding: 120px 0 80px;
}

.portfolio-area.style-two.inner-style .port-content {
    width: 90%;
    gap: 14px;
}

.portfolio-area.style-two.inner-style .port-title a {
    font-size: 20px;
}

.portfolio-area.style-two.inner-style .port-title h4 {
    margin-bottom: 4px;
}

.faqs-area {
    padding: 118px 0 99px;
}

.faqs-thumb img {
    width: 100%;
    padding-bottom: 34px;
}

.faq-singular .faq-question {
    font-size: 16px;
}

.subscribe-content h4 {
    font-size: 36px;
    line-height: 42px;
}

/*contact pages*/
.inner-style .row.add-backgroun {
    padding: 98px 10px 101px;
}


.blog-details-area {
    padding: 118px 0 86px;
}

.blog-details-title a {
    font-size: 20px;
    padding-top: 12px;
}

.blog-details-desc p {
    width: 100%;
}
.blog-details-submi-button button {
    margin-bottom: 35px;
}

.blog-related-box {
    padding: 30px 21px 31px 29px;
}

.blog-related-box.style-two {
    padding: 30px 33px 31px 21px;
}

.blog-details-tag ul li a {
    padding: 2px 11px;
}
.blog-details-tag ul li {
    margin-right: 3px;
}

.blog-details-comment.style-two {
    margin-left: 6px;
}

.blog-related-content a {
    width: 68%;
}

.blog-details-comment-thumb {
    margin-right: 8px;
}

.recent-widget-content a {
    width: 80%;
    display: inline-block;
}

.style-two .blog-content a {
    font-size: 18px;
    line-height: 34px;
}







}












/* small mobile :320px. */
@media only screen and (min-width: 320px) and (max-width: 574px) {
 
.top-headar-area {
    display: none;
}

.header-area {
    display: none;
}

.hero-area {
    height: 706px;
    padding-top: 49px;
    padding-bottom: 0;
}

.hero-thumb {
    display: none;
}

.hero-thumb-2 {
    display: none;
}

.hero-content p {
    width: 100%;
    font-size: 17px;
}

.hero-content h1 {
    font-size: 41px;
    line-height: 43px;
}

.featurea-area .section-title {
    left: 0;
    margin-bottom: 35px;
}

.featurea-area .section-title h1 {
    font-size: 30px;
    line-height: 28px;
}

.section-title h4 {
    margin: 0 0 2px 50px;
}

.single-feature-box {
    padding: 40px 28px 18px;
}

.about-shape {
    display: none;
}

.about-thumb {
    left: 0;
    top: -13px;
}

.about-thumb img {
    width: 100%;
}

.about-content h4 {
    font-size: 17px;
    line-height: 32px;
}

.single-about-box {
    width: 100%;
}

.section-title p {
    width: 100%;
}

.service-area {
    margin: 0 0 0;
    background-position: center;
}

.service-content {
    margin: 0 0 0;
}

.service-content h4 {
    font-size: 18px;
    margin: 19px 0 10px;
}

.section-title h1 {
    font-size: 16px;
    line-height: 13px;
}

.text-section .marquee-block .content-box h6.title {
    font-size: 22px;
}

.choose-us-thumb img {
    width: 100%;
}

.choose-us-area {
    margin: 0;
}

.choose-us-thumb {
    left: 0;
    padding-top: 45px;
}

.portfolio-area {
    padding: 388px 0 100px;
}

.portfolio_nav {
    padding: 15px 9px;
}

.portfolio_menu ul li {
    margin-right: 6px;
    padding: 7px 19px;
    margin-bottom: 8px;
}

.portfolio-content a {
    font-size: 17px;
    margin-top: 6px;
}

.pricing-shape-2 {
    display: none;
}

.pricing-shape {
    display: none;
}

.single-pricing-img-box {
    padding: 47px 15px 306px;
}

.single-pricing-box {
    padding: 28px 30px 39px;
}

.video-area {
    padding: 136px 0 129px;
    margin: 0 7px 0;
}

.single-teasti-content {
    padding: 39px 20px 31px;
}

.teasti-author-title h4 {
    font-size: 14px;
}

.teasti-shape {
    display: none;
}

.teasti-shape-2 {
    display: none;
}

.blog-area .project-button {
    text-align: left;
    margin-bottom: 40px;
}

.blog-area .section-title {
    margin-bottom: 34px;
}

.blog-content a {
    font-size: 15px;
    line-height: 23px;
}

.blog-date {
    top: 36%;
}

.subscribe-area .row.add-bg {
    padding: 70px 10px 80px;
}

.subscribe-form {
    text-align: left;
    margin-top: 38px;
}

.subscribe-content h4 {
    font-size: 21px;
    line-height: 22px;
}

.subscribe-form input {
    width: 78%;
    border-radius: 0;
}

.footer-shape-one {
    display: none;
}

.footer-shape-two {
    right: -174px;
}

p.footer-desc {
    width: 100%;
}

.footar-working-list ul li {
    padding-right: 0;
    font-size: 14px;
}

.footar-content {
    margin-top: 25px;
}

.footar-area .row.add-bg {
    padding: 21px 3px 25px;
}

.footer-bottom-content ul {
    text-align: left;
    margin-top: 8px;
}

.footer-bottom-content ul li a:nth-child(1) {
    margin-right: 16px;
    margin-left: 0;
}



/*Home Two All Responsive Css*/

.hero-wallpaper {
    height: 967px;
}

.hero-wallpaper .hero-team-expt-content h4 {
    font-size: 24px;
}

.hero-area.style-two {
    margin: 0 0 0;
    background-position: center left;
    height: 606px;
    padding-top: 47px;
}

.hero-wallpaper .hero-flower-shape {
    left: 16%;
    display: none;
}

.style-two .hero-video {
    display: none;
}

.hero-single-box {
    display: block;
    text-align: center;
}

.hero-box-content h4 {
    margin: 18px 0 10px;
}

.style-two .hero-shape {
    display: none;
}

.style-two .hero-social-icon {
    display: none;
}

.style-two .line:before {
    width: 100%;
}

.hero-wallpaper .hero-team-expt {
    display: none;
}

.style-two .hero-shape2 {
    display: none;
}

.style-two .hero-content h4 {
    font-size: 13px;
}

.style-two .hero-content h1 {
    font-size: 24px;
    line-height: 24px;
}

.style-two .hero-content p {
    width: 100%;
}

.about-area.style-two {
    padding: 132px 0 121px;
}

.style-two .about-thumb {
    left: 9px;
    margin-bottom: 32px;
}

.about-item p {
    font-size: 15px;
}

.style-two .about-thumb img {
    width: 100%;
}

.featurea-area.style-two .feature-shap2 {
    display: none;
}

.featurea-area.style-two .section-title h1 {
    font-size: 20px;
    line-height: 20px;
}

.featurea-area.style-two .feature-shape {
    display: none;
}

.featurea-area.style-two .single-feature-box {
    padding: 40px 8px 18px;
}

.featurea-area.style-two .feature-thumb {
    margin-top: 30px;
    padding-bottom: 25px;
}

.featurea-area.style-two .feature-content h4 {
    font-size: 25px;
    margin: 22px 0 10px;
}

.featurea-area.style-two .feature-right {
    left: 0;
}

.featurea-area.style-two .feature-thumb img {
    width: 100%;
}

.featurea-area.style-two .feature-thumb-shape {
    top: -26px;
}

.featurea-area.style-two .feature-thumb-shape2 {
    bottom: 39px;
}

.service-area.style-two .massage-time {
    bottom: 31%;
}

.service-area.style-two .service-box-content {
    padding: 32px 14px 70px;
}

.choose-us-area.style-two .choose-us-thumb {
    position: relative;
    left: 0;
    top: -44px;
}


.choose-us-area.style-two .project-button a {
    margin-top: 28px;
}

.choose-us-area.style-two .choose-us-conter-content h4 {
    font-size: 20px;
}

.choose-us-area.style-two .choose-us-conter-content span {
    font-size: 25px;
}

.choose-us-area.style-two .choose-us-conter-content p {
    font-size: 15px;
}

.choose-us-area.style-two .choose-us-counter {
    gap: 13px;
    margin-bottom: 22px;
}

.choose-us-area.style-two .row.add-bg {
    padding: 20px 5px;
}

.choose-us-area.style-two .choose-us-list-box ul li {
    font-size: 16px;
}

.portfolio-area.style-two .port-icon {
    padding: 29px 22px 29px;
}

.portfolio-area.style-two .single-port-box {
    margin: 0 0 77px;
}

.portfolio-area.style-two {
    padding: 120px 0px 110px;
}

.portfolio-area.style-two .port-title a {
    font-size: 16px;
}

.portfolio-area.style-two .port-content {
    width: 100%;
    gap: 9px;
}

.teasti-area.style-two .teasti-shape {
    display: none;
}

.teasti-area.style-two .teasti-shape-2 {
    display: none;
}

.teasti-area.style-two .teasti-shape-3 {
    display: none;
}

.teasti-area.style-two .teasti-shape-4 {
    display: none;
}

.teasti-area.style-two .teasti-content p {
    font-size: 17px;
    line-height: 31px;
    width: 100%;
}

.teasti-area.style-two .teasti-author-content {
    margin-top: 226px;
}

.teasti-area.style-two .owl-dot {
    margin: 0 7px 0;
}

.teasti-area.style-two .owl-dots {
    left: 8%;
    bottom: 84px;
}

.team-area .single-team-box {
    border-radius: 301px 324px 0 0;
}

.team-area {
    margin: 0 0 0;
}

.team-thumb img {
    width: 100%;
}

.call-do-action-area {
    background-position: center left;
    margin: 0 0 0;
}

.call-do-sahpe {
    left: 68%;
    display: none;
}

.call-do-content h4 {
    font-size: 24px;
    line-height: 28px;
}

.sticky {
    position: absolute !important;
}

/*inner Responsive All Css*/

.single-service-details-box {
    padding: 45px 17px 41px;
}

.service-details-area .row.add-margin {
    margin-top: 71px;
}

.service-details-area .row.add-bg {
    padding: 63px 3px 75px;
}

.service-details-title h6 {
    margin-bottom: 14px;
}

.service-details-title h4 {
    font-size: 20px;
}

.service-details-title p {
    width: 100%;
}

.service-details-thumb img {
    width: 100%;
    margin-top: 18px;
}

.service-dtl-content {
    padding: 26px 13px 34px;
}

.service-dtl-content h4 {
    font-size: 23px;
}

.service-details-area .row.add-margin {
    margin-top: 71px;
    margin-left: 0;
}

.service-box-item ul li {
    font-size: 15px;
}

.breadcumb-content h4 {
    font-size: 22px;
}

.breadcumb-area {
    padding: 200px 0 128px;
}

.port-details-content h1 {
    font-size: 34px;
}

.port-details-content p {
    width: 100%;
}

.single-port-info-box {
    margin-top: 21px;
}


.portfolio-area.style-two.inner-style {
    padding: 120px 0 80px;
}

.portfolio-area.style-two.inner-style .port-content {
    width: 100%;
    gap: 14px;
}

.portfolio-area.style-two.inner-style .port-title a {
    font-size: 18px;
}

.portfolio-area.style-two.inner-style .port-title h4 {
    margin-bottom: 4px;
}


.faqs-area {
    padding: 118px 0 99px;
}

.faqs-thumb img {
    width: 100%;
    padding-bottom: 34px;
}

.faq-singular .faq-question {
    font-size: 16px;
    padding: 20px 9px 19px 9px;
    line-height: 26px;
}

.faq-answer {
    padding: 21px 13px 25px;
}

.faq-singular .faq-question:before {
    right: 10px;

}

/*contact pages*/
.inner-style .row.add-backgroun {
    padding: 98px 10px 101px;
}

.inner-style .single-contact-form {
    padding: 20px 16px 30px;
}

.inner-style .single-contact-box {
    display: block;
    text-align: center;
}

.inner-style .contact-title p {
    font-size: 16px;
    line-height: 24px;
}

.inner-style.contact-area  .section-title p {
    width: 100%;
}

.blog-details-area {
    padding: 118px 0 86px;
}

.blog-details-title a {
    font-size: 18px;
    padding-top: 8px;
}

.blog-details-desc p {
    width: 100%;
}

.blog-details-submi-button button {
    margin-bottom: 35px;
}

.blog-related-box {
    padding: 30px 5px 31px 17px;
}

.blog-related-box.style-two {
    padding: 30px 17px 31px 11px;
    margin-top: 25px;
}

.blog-related-content a {
    font-size: 15px;
    line-height: 21px;
}

.blog-details-tag ul li a {
    padding: 2px 11px;
}

.blog-details-tag ul li {
    margin-right: 3px;
}

.blog-details-comment.style-two {
    margin-left: 6px;
}

.blog-details-social {
    text-align: left;
    margin-top: 13px;
}

.blog-details-comment-thumb {
    float: inherit;
    margin-bottom: 20px;
}

.blog-details-comment {
    padding: 29px 15px 25px;
}

.blog-details-comment-content h2 {
    font-size: 17px;
    margin-right: 6px;
}

.widget_search {
    padding: 13px 15px 37px;
}

.widget-categories-box {
    padding: 21px 13px 15px;
}

.recent-widget-content a {
    font-size: 14px;
    line-height: 22px;
    display: inline-block;
}

.sidber-widget-recent-post {
    gap: 9px;
}

.style-two .blog-content {
    padding: 28px 18px 25px;
}

.style-two .blog-content a {
    font-size: 16px;
    line-height: 24px;
}




}




/*xl device min width*/
@media screen and (min-width:992px) {
    .pl-lg-50 {
        padding-left: 50px;
    }
}

/*xl device min width*/
@media screen and (min-width:1200px) {
    .video-icon {
        left: 75%;
    }
}





